{% load bootstrap3 %}

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% bootstrap_css %}
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    {% bootstrap_javascript %}
    <meta name="viewport" content="width=device-width, initial-scale=1.2">
    <title>BRISC</title>
  </head>
<body {% block body_extension %}{% endblock %}>

    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ BASE_URL }}/">BRISC</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

<div class="container">
<h3>About BRISC</h3>
<img src="http://i.imgur.com/6mNgDEA.jpg" class="pull-right">
<p>
BRISC is being developed at the Botanical Research Institute of Texas (BRIT) and is released under an open source license at <a target="_blank" href="https://github.com/jbest/brisc">https://github.com/jbest/brisc</a>
</p>
<h3>About the BRIT Inventory</h3>
<p>
BRISC was used for the inventory of the BRIT herbarium in 2015. The inventory was completed with the help of 136 participants (volunteers and staff) who spent 1,927 person hours inventorying. For details and results of this inventory, please visit <a target="_blank" href="http://www.brit.org/herbarium/inventory">www.brit.org/herbarium/inventory</a>.
</p>
<h3>Acknowledgements</h3>
<p>
Thanks to all the BRIT volunteers and staff who participated in the inventory.
</p>
<p>
Thanks to Tiana Rehman for cultivating our vibrant herbarium volunteer base and to Julie Donovan for expanding volunteer participation across all of BRIT.
</p>
<p>
Thanks to BRIT administrators for recognizing the importance of the inventory and supporting strong staff participation in the inventory.
</p>
<p>
The primary taxon names were generously provided by Tropicos (Tropicos.org, Missouri Botanical Garden, 12 Feb 2015, www.tropicos.org) Additional taxon names were introduced through the inventory process.
</p>
</div><!-- /.container -->
</body>
</html>