{% extends "base.html" %}

{% block content %}
<h2>Welcome to BRISC</h2>
<p>
    Welcome to the BRIT Rapid Inventory of Specimen Collections (BRISC)
</p>
Select an inventory below:<br /><br />
{% if inventory_list %}
    {% for inventory in inventory_list %}
    <a class="btn btn-primary" role="button" href="{% url 'inventory_detail' inventory.id %}">{{ inventory.description }}</a><br /><br />

    {% endfor %}
{% else %}
    <p>No inventories are available.</p>
    <p>An administrator must create an inventory.</p>
{% endif %}

{% endblock %}
