{% load staticfiles %}
{% load bootstrap3 %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% bootstrap_css %}
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    {% bootstrap_javascript %}
    <link href="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-beta.3/css/select2.min.css" rel="stylesheet" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-beta.3/js/select2.min.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1.5">
    <title>BRIT Inventory</title>
  </head>
  <body>
    <div class="container">
      {% if msg %}
      <div class="alert alert-success" role="alert">{{ msg }}</div>
      {% endif %}

      {% if mode == "create" %}<h2>Taxon Count</h2>{% endif %}
      {% if mode == "edit" %}<h2>Update Taxon Count {{ count_id }}</h2>{% endif %}

      
      <form action="" method="POST" id="countForm" class="form-inline">
        {% csrf_token %}
        <h3>Location</h3>
        <label for="container">Cabinet id: </label> 
        <input type="text" name="container" id="container" class="form-control" value="{{ container }}" ><br />
        <br />
        <label for="foldertype">Folder type: </label> 
        <select id="foldertype" name="foldertype_id" class="form-control">
          {% for foldertype in foldertypes %}
            <option value="{{ foldertype.pk }}"{% if foldertype.pk|add:0 == folder_id_selected|add:0 %} selected{% endif %}>{{ foldertype.name }}-{{ foldertype.color }}</option>
          {% endfor %}
        </select> <span class="label label-danger">Check!</span><br />
        <h3>Taxonomy</h3>
        <div class="form-group">
          <label for="group">Group: </label>
          <select id="group" name="group_id" class="form-control">
          {% for group in groups %}
            <option value="{{ group.pk }}"{% if group.pk|add:0 == taxaDict.group_id|add:0 %} selected{% endif %}>{{ group.name }}</option>
          {% endfor %}
        </select>
      </div>
<br />
<br />
        <div class="form-group">
        <label for="family">Family: </label>
        <select id="family" name="family_id" style="width: 200px" class="form-control">
          {% for family in families %}
            <option value="{{ family.pk }}"{% if family.pk|add:0 == taxaDict.family_id|add:0 %} selected{% endif %}>{{ family.name }}</option>
            {% empty %}
            <option value="-1">No families - select a group</option>
          {% endfor %}
        </select>
        <a id="filter-family-btn" type="button" class="btn btn-default btn-sm" >Filter Family</a>        
      </div>
<br />
<br />
        <div class="form-group">
        <label for="genus">Genus: </label>
        <select id="genus" name="genus_id" class="form-control">
          {% for genus in genera %}
            <option value="{{ genus.pk }}"{% if genus.pk|add:0 == taxaDict.genus_id|add:0 %} selected{% endif %}>{{ genus.name }}</option>
            {% empty %}
            <option value="-1">No genera - select a family</option>
          {% endfor %}
        </select>
        <a id="filter-genus-btn" type="button" class="btn btn-default btn-sm" >Filter Genera</a>
        
        <!-- Button trigger modal -->
        <button id="add-genus-btn" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#newGenusModal">Add Genus to Selected Family</button>
        <a id="genus-refresh" type="button" class="btn btn-default btn-sm" >Refresh Genera</a>
      </div>
<br />
<br />
        <div class="form-group">
        <label for="species">Species: </label>
        <select id="species" name="species_id" class="form-control">
          {% for specific_epithet in species %}
            <option value="{{ specific_epithet.pk }}"{% if specific_epithet.pk|add:0 == taxaDict.species_id|add:0 %} selected{% endif %}>{{ specific_epithet.name }}</option>
          {% endfor %}
        </select> <span class="label label-danger"> ! </span> 
        <!-- species_id: {{ taxaDict.species_id }} -->        <a id="filter-species-btn" type="button" class="btn btn-default btn-sm" >Filter Species</a>
 <button id="add-species-btn" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#newSpeciesModal">
  Add Species to Selected Genus
</button>
<a id="species-refresh" type="button" class="btn btn-default btn-sm" >Refresh Species</a>
<div/>  

        <br />
        {% if mode == "edit" %}<label for="count">Count: </label> <input type="number" name="count" id="count" value={{count}} class="form-control">{% endif %}
        {% if mode == "create" %}<label for="count">Count: </label> <input type="number" name="count" id="count" value=1 class="form-control"> <span class="label label-danger">Check!</span>{% endif %}
        <br />
        </p>
        {% if mode == "edit" %}
        <label for="note">Notes: </label> <input type="text" name="note" value="{{note}}" class="form-control"><br />
        {% endif %}
        {% if mode == "create" %}
        <label for="note">Notes: </label> <input type="text" name="note" value='' class="form-control"><br />
        {% endif %}
        <br />
        <br />
        </p>
        {% if mode == "create" %}<input type="submit" value="Record this count" class="btn btn-primary" id="submit_count">{% endif %}
        {% if mode == "edit" %}<input type="submit" value="Update this count" class="btn btn-primary" id="submit_count">  <a class="btn btn-default" href="{% url 'count_detail' count_id %}">Cancel</a>{% endif %}
        <br /><br />
      </form>
      {% if mode == "create" %}
      <p>
      <strong>End the session </strong>(button below) when:
      <ul>
        <li>you complete a cabinet</li>
        <li>you need a break (mark your spot in the cabinet!)</li>
        <li>you are done for the day (finish the cabinet first!)</li>
      </ul>
      <a class="btn btn-default" href="{% url 'end_session' %}" role="button">End Session</a>
    </p>
        <h4>Details</h4>
        Current Inventory: {{ current_inventory }}<br />
        Current Session: {{ current_session }}<br />
        <br />
        <a class="btn btn-default" target="_blank" href="{% url 'session_detail' current_session %}" role="button">Previous Counts (new window)</a><br />
        {% endif %}
</div>



<!-- Modal -->
<div class="modal fade" id="newGenusModal" tabindex="-1" role="dialog" aria-labelledby="newGenusModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newGenusModalLabel">Add Genus to Family</h4>
      </div>
      <div class="modal-body">        
        <form id="newGenusForm" method="post">
          {% csrf_token %}
          Family: <input id="fam-name" disabled><br />
          Family ID: <input id="fam-id" disabled><input type="hidden" name="parent_id" id="gen_parent_id"><br />
          <input type="hidden" value="family" name="parent_rank" id="parent_rank"><br />
          New genus: <input name="child_name" id="child_name"><br />
          Press Submit button below, then wait for confirmation to display "New taxon created." then press Continue button below.<br />
            <button id="newGenusFormSubmit" type="submit">Submit</button>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Continue</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newSpeciesModal" tabindex="-1" role="dialog" aria-labelledby="newSpeciesModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newSpeciesModalLabel">Add Species to Genus</h4>
      </div>
      <div class="modal-body">        
        <form id="newSpeciesForm" method="post">
          {% csrf_token %}
          Genus: <input id="gen-name" disabled><br />
          Genus ID: <input id="gen-id" disabled><input type="hidden" name="parent_id" id="sp_parent_id"><br />
          <input type="hidden" value="genus" name="parent_rank" id="parent_rank"><br />
          <strong>New species:</strong> <input name="child_name" id="child_name"><br />
          Press Submit button below, then wait for confirmation to display "New taxon created." then press Continue button below.<br />
            <button id="newSpeciesFormSubmit" type="submit">Submit</button>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Continue</button>
      </div>
    </div>
  </div>
</div>

  </body>
<script type="text/JavaScript">
// http://stackoverflow.com/questions/9909326/clear-dropdownlist-with-jquery
//https://developerdan77.wordpress.com/2011/10/14/dynamically-populate-a-select-element-from-json-data-with-jquery/
function fillTaxaDropDown(url, dropdown) {
  $.ajax({
    url: url,
    dataType: "json",
    success: function(data) {
      // Clear drop down list
      //$(dropdown).empty();
      $(dropdown).html('');
      // Fill drop down list with new data
      //alert("Data: " + JSON.stringify(data) );
      $.each(data.taxon, function(key, val) {
        //alert("each-data2: " + key + val );
        $(dropdown).append('<option value="' + val.id + '">' + val.name + '</option>');
      })
    },
    error: function() {
      //if there is an error append a 'none available' option
      $(dropdown).html('<option value="-1">none available</option>');
    }
  })
};

// Tried script below, but had problems with the filter results
// which were incomplete or incorrect.
// http://www.lessanvaezi.com/filter-select-list-options/
// http://jsbin.com/egogeh/edit?html,js,output

$("#group").change(function(data) {
  //alert( "Handler for .change() called." );
  fillTaxaDropDown('{% url 'taxa_in_group_base' %}' + $('#group').val() + '/', $('#family'));
  //fillTaxaDropDown('/inventory/taxa/group/' + $('#group').val() + '/', $('#family'));
  // Clear subtaxa
    // Testing bselect.js
    //$("#family").bselect();
  $('#genus').empty();
  $('#species').empty();

});

$("#family").change(function(data) {
  //alert( "Handler for .change() called." );
  fillTaxaDropDown('{% url 'taxa_in_family_base' %}' + $('#family').val() + '/', $('#genus'));
  //fillTaxaDropDown('/inventory/taxa/family/' + $('#family').val() + '/', $('#genus'));
  // Clear subtaxa
  $('#species').empty();
});


$("#genus").change(function(data) {
  //alert( $('#genus').val());
  fillTaxaDropDown('{% url 'taxa_in_genus_base' %}' + $('#genus').val() + '/', $('#species'));
  //fillTaxaDropDown('/inventory/taxa/genus/' + $('#genus').val() + '/', $('#species'));
});

// Button to refresh taxon after new taxon added
$("#genus-refresh").on("click", function() {
  fillTaxaDropDown('{% url 'taxa_in_family_base' %}' + $('#family').val() + '/', $('#genus'));
  //fillTaxaDropDown('/inventory/taxa/family/' + $('#family').val() + '/', $('#genus'));
  // Clear subtaxa
  $('#species').empty();
});

// Button to refresh taxon after new taxon added
$("#species-refresh").on("click", function() {
  fillTaxaDropDown('{% url 'taxa_in_genus_base' %}' + $('#genus').val() + '/', $('#species'));
});

$("#add-genus-btn").on("click", function() {
  //alert( $( this ).text() );
  //alert($( "#family" ).val() );
  $("#fam-name").val($("#family option:selected").text())
  $("#fam-id").val($("#family option:selected").val())
  $("#gen_parent_id").val($("#family option:selected").val())
});

$("#add-species-btn").on("click", function() {
  //alert( $( this ).text() );
  //alert($( "#family" ).val() );
  $("#gen-name").val($("#genus option:selected").text())
  $("#gen-id").val($("#genus option:selected").val())
  $("#sp_parent_id").val($("#genus option:selected").val())
});

$('#newGenusFormSubmit').click(function(e) {
  e.preventDefault();
  //alert('{% url 'new_taxon' %}');
  console.log($('#newGenusForm').serialize());
  $.post('{% url 'new_taxon' %}',
    $('#newGenusForm').serialize(),
    function(data, status, xhr) {
      // do something here with response;
      alert('New taxon created.');
    });
});

$('#newSpeciesFormSubmit').click(function(e) {
  e.preventDefault();
  //alert('{% url 'new_taxon' %}');
  console.log($('#newSpeciesForm').serialize());
  $.post('{% url 'new_taxon' %}',
    $('#newSpeciesForm').serialize(),
    function(data, status, xhr) {
      // do something here with response;
      alert('New taxon created.');
    });
});

$('#submit_countOLD').click(function(e) {
  // Can't get form to submit
  //e.preventDefault();
  $('#submit_count').prop('disabled', true);
  //alert('count submitted.');
  $("#countForm").submit(function(event) {
    alert("Handler for .submit() called.");
    //event.preventDefault();
  });
});

// Clear contents of count field when clicked
$('#count').focusin(function(){
  $(this).val('');
});

// Clear contents of container field when clicked
$('#container').focusin(function(){
  $(this).val('');
});

// Buttons to activate filters
$("#filter-family-btn").on("click", function() {
  //alert( $( this ).text() );
  $('#family').select2();
});

$("#filter-genus-btn").on("click", function() {
  //alert( $( this ).text() );
  $('#genus').select2();
});

$("#filter-species-btn").on("click", function() {
  //alert( $( this ).text() );
  $('#species').select2();
});

$( document ).ready(function() {
  // Handler for .ready() called.
  //TODO: retain selected subtaxa, or only when subtaxa haven't been selected in previous form
  //fillTaxaDropDown('{% url 'taxa_in_group_base' %}' + $('#group').val() + '/', $('#family'));
  //fillTaxaDropDown('{% url 'taxa_in_family_base' %}' + $('#family').val() + '/', $('#genus'));
  //fillTaxaDropDown('{% url 'taxa_in_genus_base' %}' + $('#genus').val() + '/', $('#species'));
});
</script>



</html>